node_red/flow.json
[
  {
    "id": "f6f2187d.f17ca8",
    "type": "tab",
    "label": "Tesis_lógica_negocio",
    "disabled": false,
    "info": ""
  },
  {
    "id": "7e3201ea700e5925",
    "type": "mqtt in",
    "z": "f6f2187d.f17ca8",
    "name": "Consultar EMQX",
    "topic": "sensors/espnow/grouped_data",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "0362c57418616d0b",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 180,
    "y": 340,
    "wires": [["10ce6d88453015c4"]]
  },
  {
    "id": "e5ddc5dc354ad0d3",
    "type": "debug",
    "z": "f6f2187d.f17ca8",
    "name": "logs_http",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 980,
    "y": 340,
    "wires": []
  },
  {
    "id": "a05f17d0d8f5931e",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "Procesar datos",
    "func": "let lineProtocol = '';\n\nfor (let sensor of msg.payload.sensors) {\n    let sensorId = sensor.sensor_id.replace(/ /g, '\\\\ ').replace(/,/g, '\\\\,');\n    let microId = msg.payload.micro_id.replace(/ /g, '\\\\ ').replace(/,/g, '\\\\,');\n\n    lineProtocol += `sonido,sensor_id=${sensorId},micro_id=${microId} valor=${sensor.value}\\n`;\n}\nmsg.payload = lineProtocol;\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 340,
    "wires": [["a8a462b7369f84e1"]]
  },
  {
    "id": "52a69274ea3e05b8",
    "type": "catch",
    "z": "f6f2187d.f17ca8",
    "name": "Tratar errores",
    "scope": null,
    "uncaught": false,
    "x": 790,
    "y": 400,
    "wires": [["e5ddc5dc354ad0d3"]]
  },
  {
    "id": "a8a462b7369f84e1",
    "type": "http request",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://influxdb:8086/api/v2/write?org=TU_ORGANIZACION&bucket=TU_BUCKET&precision=ns",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [
      {
        "keyType": "Authorization",
        "keyValue": "",
        "valueType": "other",
        "valueValue": "Token TU_TOKEN_INFLUXDB_AQUI"
      },
      {
        "keyType": "Content-Type",
        "keyValue": "",
        "valueType": "other",
        "valueValue": "text/plain; charset=utf-8"
      }
    ],
    "x": 770,
    "y": 340,
    "wires": [["e5ddc5dc354ad0d3"]]
  },
  {
    "id": "10ce6d88453015c4",
    "type": "debug",
    "z": "f6f2187d.f17ca8",
    "name": "emqx_logs",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 430,
    "y": 400,
    "wires": []
  },
  {
    "id": "0362c57418616d0b",
    "type": "mqtt-broker",
    "name": "EMQX",
    "broker": "TU_BROKER_MQTT_AQUI",
    "port": 1883,
    "clientid": "nodered_tesis",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": 4,
    "keepalive": 60,
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  }
]
